@font-face {
	src: url('./fonts/ArialBlack/Arial-Black.eot');
	src: url('./fonts/ArialBlack/Arial-Black.eot?#iefix') format('embedded-opentype'),
		url('./fonts/ArialBlack/Arial-Black.woff2') format('woff2'),
		url('./fonts/ArialBlack/Arial-Black.woff') format('woff'),
		url('./fonts/ArialBlack/Arial-Black.ttf') format('truetype'),
		url('./fonts/ArialBlack/Arial-Black.svg#Arial-Black') format('svg');
	font-family: Arial-Black;
	font-style: normal;
	font-weight: 900;
}

::-webkit-scrollbar {
	display: none;
}
::-moz-scrollbar {
	display: none;
}

html {
	scroll-behavior: smooth;
	max-width: 100%;
	overflow-x: hidden;
	cursor: default;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	font-family: 'Arial-Black';
	letter-spacing: 2px;
	font-size: 6.1vw;
}

h1 {
	font-family: 'Arial-Black';
	letter-spacing: 2px;
}

a {
	text-decoration: none;
	color: black;
	padding: 0;
	margin: 0;
	letter-spacing: 2px;
	text-transform: uppercase;
}

p {
	padding-bottom: 10px;
	margin: 0;
	display: inline-block;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 250px;
}

button {
	margin-bottom: 50px;
	margin-right: 20px;
	outline: none;
	height: 40px;
	padding: 0 50px;
	border-radius: 50px;
	background:black;
	color: white;
	border: 3px solid black;
	letter-spacing: 1px;
	font-weight: 600;
	cursor: pointer;
}

.container {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
	-webkit-column-gap: 150px;
	-moz-column-gap: 150px;
	column-gap: 150px;
	margin-bottom: 50px;
}

#submission {
	background: black;
	height: 100vh;
	color: white;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

#header-text {
	position: absolute;
	top: 25px;
	text-align: center;
	font-size: 1vw;
}

#paste {
	padding: 20px;
	width: 50%;
	height: 40vh;
	font-size: 1rem;
}

#white-button {
	margin: 0;
	outline: none;
	height: 40px;
	width: calc(50% + 40px);
	border-radius: 50px;
	background:white;
	color: black;
	border: 3px solid white;
	letter-spacing: 1px;
	font-weight: 600;
	cursor: pointer;
	margin-top: 25px;
}

#results {
	margin: 100px;
	position: relative;
}

.footer-div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-text {
	justify-content: center;
}

.help-div {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
	border-radius: 50%;
	z-index: 5;
}

.instructions {
	position: absolute;
	bottom: 50px;
	right: 20px;
	width: 20%;
	text-align: justify;
}